/* Common */

.content {
  max-width: 960px;
  margin: 0 auto 120px;
  padding: 40px;
  justify-content: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

video {
  height: 100%;
  width: 100%;
}

/* Spinner */
.mdl-spinner.is-active .mdl-spinner__layer {
  border-color: #FFFFFF;
}

/* Card */
.mdl-card .mdl-card__supporting-text {
    margin: 40px;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}

/* Auth menu */
.mdl-navigation__link.avatar {
  padding: 0;
}

.mdl-navigation__link.auth-drop-down-menu {
  position: relative;
  padding: 0;
}

/* LandingPage */

.landing-page {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}
