/* Common */

.content {
  max-width: 960px;
  display: block;
  margin: 0 auto 120px;
  padding: 40px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.mdl-spinner.is-active .mdl-spinner__layer {
  border-color: #FFFFFF;
}

/* Auth menu */
.mdl-navigation__link.avatar {
  padding: 0;
}

.mdl-navigation__link.auth-drop-down-menu {
  position: relative;
  padding: 0;
}

/* LandingPage */

.landing-page {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}
