/* Common */

.content {
  max-width: 960px;
  margin: 0 auto 120px;
  padding: 40px;
  justify-content: center;
}

/* Card */
.mdl-card .mdl-card__supporting-text {
    margin: 40px;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}

.user {
  padding: 5px 15px;
}

.user__avatar {
  margin-left: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* Video */
.video.video-on video {
  height: 100%;
  width: 100%;
}

.video.video-off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  background-color: #757575;
}

.video.video-off .material-icons {
  font-size: 40px;
}

/* Spinner */
.mdl-spinner.is-active .mdl-spinner__layer {
  border-color: #FFFFFF;
}

/* Auth menu */
.mdl-navigation__link.avatar {
  padding: 0;
}

.mdl-navigation__link.auth-drop-down-menu {
  position: relative;
  padding: 0;
}

/* LandingPage */

.landing-page {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}
