# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/dist

# dependencies
/node_modules
/bower_components

# misc
.eslintcache
/.sass-cache
/connect.lock
/coverage/*
.vscode

*.log

.env
