/* Common */
.content {
  max-width: 960px;
  justify-content: center;
}

button.link {
  border: none;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

/* Card */
.mdl-card .mdl-card__supporting-text {
    margin: 40px;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}

/* Drawer */
.mdl-layout__drawer .drawer-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.mdl-layout__drawer .drawer-navigation {
  flex-grow: 1;
}

.user__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* Video */
.video.video-on video {
  height: 100%;
  width: 100%;
}

.video.video-off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  background-color: #757575;
}

.video.video-off .material-icons {
  font-size: 40px;
}

/* Spinner */
.mdl-spinner.is-active .mdl-spinner__layer {
  border-color: #FFFFFF;
}

/* Auth menu */
.mdl-navigation__link.avatar {
  padding: 0;
}

.mdl-navigation__link.auth-drop-down-menu {
  position: relative;
  padding: 0;
}

/* LandingPage */

.landing-page {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.landing-page h2, h5 {
  font-family: 'Handlee', serif;
}

.landing-page button {
  height: 80px;
  width: 200px;
  font-size: 2em;
}

/* IncidentList */

.incident-list {
  height: 300px;
  overflow-y: scroll;
}
